<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.medicalreport">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.nurse.activity.show_patiant_nurse" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.nurse.activity.update.EditRecordNurse"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.doctor.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.SignUpActivity" />
        <activity android:name=".view.patient.PatientSignUpActivity" />
        <activity android:name=".view.doctor.activity.PatienFullDataActivity" />
        <activity
            android:name=".view.nurse.activity.MainActivityNurse"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.nurse.activity.NurseSearchDoctorActivity" />
        <activity android:name=".view.nurse.activity.NurseListDoctors" />
        <activity android:name=".view.doctor.activity.AddRecordDoctorActivity" />
        <activity android:name=".view.nurse.activity.update.NurseUpdateSearchDoctorActivity" />
        <activity android:name=".view.nurse.activity.update.NurseUpdateListDoctors" />
        <activity
            android:name=".view.doctor.activity.PatientDetailsActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.nurse.activity.NursePatientDetailsActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.FullScreenImageViewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.patient.PatientMainActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.doctor.ReportActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

    </application>

</manifest>